<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodcare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.FruitActivity"></activity>
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".RequestAndTransaction.UploadActivity" />
        <activity android:name=".RequestAndTransaction.PostRequestActivity" />
        <activity android:name=".RequestAndTransaction.GetRequestActivity" />
        <activity android:name=".activity.TodayAnalyseActivity" />
        <activity android:name=".activity.TodayAnalysis" />
        <activity android:name=".activity.PassageDetailActivity" />
        <activity android:name=".activity.PassageActivity" />
        <activity android:name=".activity.CalendarActivity"
            android:theme="@style/FoodCareStatusBarTheme"/>
        <activity android:name=".activity.UploadPictureActivity"/>
        <activity
            android:name=".activity.FoodInfoActivity"
            android:theme="@style/FoodCareStatusBarTheme" />
        <activity
            android:name=".activity.AddFoodActivity"
            android:theme="@style/FoodCareStatusBarTheme" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/FoodCareStatusBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>